.home-screen {
  width: 100vw;
  max-height: calc(100vh - 7vw);
  min-height: 80vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vw 10vw;
  text-align: center;
  flex-wrap: wrap;
  z-index: 1;

  .grid-images {
    width: 13.889vw;
    height: 10.417vw;
    overflow: hidden;
    margin: 0.694vw 0.694vw 0 0;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
      0 8px 16px -8px hsla(0, 0%, 0%, 0.3),
      0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);

    -webkit-animation: shadow-drop 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: shadow-drop 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    @media (max-width: 426px) {
      width: 20vw;
      height: 14vw;
    }

    .item {
      width: 100%;
      transition: all 0.5s ease-in-out;

      &:hover {
        transform: scale(1.1) translate(0%, -13%);
        z-index: 10;
      }
    }
  }

  .page-btn {
    width: 100%;
    margin-top: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      width: 2.083vw;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      border-radius: 50%;
      @media (max-width: 426px) {
        width: 4.3vw;
      }

      &:hover {
        background-color: #ffff78;
        border-radius: 50%;
      }
    }

    .select {
      margin: 0 2.083vw;

      input {
        width: 4.167vw;

        @media (max-width: 426px) {
          width: 7.167vw;
        }
      }
    }
  }
}

@keyframes shadow-drop {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
      0 8px 16px -8px hsla(0, 0%, 0%, 0.3),
      0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
      0 8px 16px -8px hsla(0, 0%, 0%, 0.3),
      0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    opacity: 1;
  }
}
