.navbar {
  width: 100vw;
  height: 7vw;
  background-color: #eeff41;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.9vw;
  z-index: 1;

  .navbar_title {
    display: flex;
    flex-direction: row;
    text-align: center;
    h3 {
      font-weight: 400;
      font-size: 2.292vw;
    }
    &:hover {
      text-decoration: none;
      cursor: default;
    }
  }

  .isActive {
    color: #b8cc00;
  }

  img {
    width: 2.292vw;
  }

  a {
    font-size: 1.736vw;

    @media (max-width: 426px) {
      font-size: 2.8vw;
    }
  }

  a:not(:last-child) {
    margin-right: 0.694vw;
    @media (max-width: 426px) {
      margin-right: 2.694vw;
    }
  }

  a:hover {
    text-decoration: underline;
  }
}
